
.unorderd{
  list-style-type: none;
  display: flex;
  text-align: right;
}

a {
  text-decoration: none;
  font-size: large;
  color: white;
}

.logo {
  display: inline-block;
  width: 70%;
  margin-left: 1%;
  background-color: #3c383c82;
  color: white;
  box-shadow: 0 8px 8px -4px #14e956;
}

.name {
  background-color: #3c383c82;
  color: white;
  margin: 30px;
  padding: 40px; 
  width: 85%;
}

.list {
  margin: auto;
  padding: 10px;

}

.App-header {
  
  display: flex;
}

.header-link{
  width: 400px;
  height: 70px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.39);

}

footer { 
  width: 100%;
  background-color: #3c383c82;
  text-align: center;
  margin-top: auto;
  padding: 0px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.home {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

img {
  width: 70%;
  height: 85%;
  text-align: center;
  margin: 7px;
}

body {
  background-color: black;
}

.active:hover {
  color: #14e956; /* Change this to the desired color when hovering */
  
}

.links:active, .links:hover {
  color: #14e956;
}

@media only screen and (max-width: 517px) {
  .home {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}

.picture {
  width: 85%;
}

@media only screen and (max-width: 517px) {
  .picture {
    width: 100%;
    min-width: 517px;
}
}

@media only screen and (max-width: 517px) {
  .image {
    width: 100%;
}
}

@media only screen and (max-width: 517px) {
  footer {
    width: 100%;
    background-color: #3c383c82;
    text-align: center;
    margin-top: auto;
    padding: 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-width: 602px;
}
}

@media only screen and (max-width: 517px) {
  .name {
    margin: 0px;
    width: 100%;
    min-width: 517px;
}
}


@media only screen and (max-width: 390px) {
  .name {
    /* margin: 0px;
    width: 100%;
    max-width: 390px; */
    min-width: auto;
}
}

@media only screen and (max-width: 390px) {
  .name-header {
    border: 1px solid pink;
}
}

@media only screen and (max-width: 390px) {
  footer {
    border: 1px solid green;
}
}

@media only screen and (max-width: 390px) {
  .image {
    border: 1px solid white;
}
}

@media only screen and (max-width: 390px) {
  .home {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    border: 1px solid blue;
}
}



